preup() {
    # Adjusting the bonding mode / MII monitor
    # Possible modes are : 0, 1, 2, 3, 4, 5, 6,
    #     OR
    #   balance-rr, active-backup, balance-xor, broadcast,
    #   802.3ad, balance-tlb, balance-alb
    # MII monitor time interval typically: 100 milliseconds
    if [[ ${IFACE} == "bond0" ]] ; then
       BOND_MODE="1"
       BOND_MIIMON="100"
       echo ${BOND_MODE} >/sys/class/net/bond0/bonding/mode
       echo ${BOND_MIIMON}  >/sys/class/net/bond0/bonding/miimon
       einfo "Bonding mode is set to ${BOND_MODE} on ${IFACE}"
       einfo "MII monitor interval is set to ${BOND_MIIMON} ms on ${IFACE}"
    else
       einfo "Doing nothing on ${IFACE}"
    fi
    return 0
}

postup() {
	if [[ ${IFACE} == "bond0" ]] ; then
		ifconfig bond0 mtu 1400
	fi
}

config_eth0=( "null" )
config_eth1=( "null" )

slaves_bond0="eth0 eth1"

config_bond0=( "{{ ansible_default_ipv4["address"] }} netmask {{ ansible_default_ipv4["netmask"] }}" )
routes_bond0=( "default via {{ ansible_default_ipv4["gateway"] }}" )
mtu_bond0="1440"
