<configuration>
	<sevone>
		<plugins>
			<plugin name="snmp"/>
			<plugin name="ipsla"/>
                        <plugin name="icmp"/>
		</plugins>

		<master>127.0.0.1</master>
		<username>root</username>
		<password></password>
		<database>net</database>
		<port>3306</port>
		<num_threads>4</num_threads>
		<num_selectors>4</num_selectors>
	</sevone>
	<miner>
			<!-- number of threads spawned to select the indicator data -->
		<selectors>8</selectors> <!-- 8 is the optimial for PAS200k-->
		<output_dir>/opt/dataminer/output/all</output_dir>
		<output_prefix>dataminer_</output_prefix>
		<object_description_concat_string>__</object_description_concat_string>

		<!--
		   "delay_minutes" is how many minutes it takes for data to appear
		   in the shortterm tables.  Values should be between 10 and 240
		   in multiples of 10. Default value is 0.
			<delay_minutes>10</delay_minutes>
		-->

		<cluster hostname="localhost">
			<peer ip="active"/>
		</cluster>
                <device_group name="All Device Groups"/>
	</miner>
</configuration>
