<configuration>
        <!-- This config should only be used for CY1IMEPAS11, DUE TO issues with snmp plugin false if using all devices groups -->
	<sevone>
		<plugins>
			<plugin name="snmp"/>
			<plugin name="ipsla"/>
		</plugins>

		<master>127.0.0.1</master>
		<username>root</username>
		<password></password>
		<database>net</database>
		<port>3306</port>
		<num_threads>4</num_threads>
		<num_selectors>4</num_selectors>
	</sevone>
	<miner>
			<!-- number of threads spawned to select the indicator data -->
		<selectors>8</selectors> <!-- 8 is the optimial for PAS200k-->
		<output_dir>/opt/dataminer/output/all</output_dir>
		<output_prefix>dataminer_</output_prefix>
		<object_description_concat_string>__</object_description_concat_string>

		<!--
		   "delay_minutes" is how many minutes it takes for data to appear
		   in the shortterm tables.  Values should be between 10 and 240
		   in multiples of 10. Default value is 0.
			<delay_minutes>10</delay_minutes>
		-->

		<cluster hostname="localhost">
			<peer ip="active"/>
		</cluster>
                <device_group name="All Device Groups"/>
                <object_group name="Loopback"/>
                <object_group name="Serial"/>
                <object_group name="Ten Gigabit Ethernet"/>
                <object_group name="W1st Pilot HARTFORD CT-280"/>
                <object_group name="W1st Pilot Millennium F"/>
                <object_group name="W1st Pilot San Diego"/>
                <object_group name="WAN"/>
                <object_group name="WAN-ASIA"/>
                <object_group name="WAN-CANADA"/>
                <object_group name="WAN-EMEA"/>
                <object_group name="WAN-LATAM"/>
                <object_group name="WAN-MSUS"/>
                <object_group name="WAN-NoExpressLoopback"/>
                <object_group name="WAN-NoExpressRouteNoTunnel"/>
                <object_group name="WAN-NoExpressRoutes"/>
                <object_group name="Wireless"/>
                <object_group name="WLAN-MSFTCORP"/>
                <object_group name="WLAN-MSFTOPEN"/>
                <object_group name="DHCP"/>
                <object_group name="DLSw"/>
                <object_group name="DNS"/>
                <object_group name="Echo"/>
                <object_group name="HTTP"/>
                <object_group name="Jitter"/>
                <object_group name="TCP Connect"/>
                <object_group name="UDP Echo"/>
                <object_group name="Cisco IOS IO Memory"/>
                <object_group name="Cisco IOS IO Memory"/>
                <object_group name="Cisco IOS Processor Memory"/>
                <object_group name="QoS Shaping Policies"/>
                <object_group name="SevOne CPU"/>
                <object_group name="SevOne Interfaces"/>
                <object_group name="SevOne Processes SNMP"/>
	</miner>
</configuration>
