#!/bin/bash

FTPLOG="/var/SevOne/lastrun_ftpdataminer.log"

cd /opt/dmop/output/icmp/

HOST='{{ ftp_server }}'
USER="sevoneftp"
#PASSWD="tas34*ar403tupA"
PASSWD="DapsTY8cRcJ4SsBDUSCc"
REMOTEPATH='/Prod/DataMiner/'
FILE=$1

ftp -inv <<! >> $FTPLOG
open $HOST
user $USER $PASSWD
cd $REMOTEPATH
put $FILE
close
quit
!

FTP_SUCCESS_MSG="226 Transfer complete"

if fgrep "$FTP_SUCCESS_MSG" $FTPLOG ;then
   echo `cat $FTPLOG`
   echo "ftp OK"
else
   echo "ftp Error: "$OUT
fi
	  exit 0

