<dmop>
    <dataminer>
        <!-- used to get the DM output_prefix and output_dir -->
        <config_file>/opt/dataminer/conf/dataminer-ipsla.conf</config_file>
    </dataminer>
    <!-- not implemented yet -->
    <!-- <operations>
        <counter32></counter32>
        <counter64></counter64>
        <gauge></gauge>
    </operations>
    <aggregation>
        <period>minutes</period>
        <method> min max total avg </method>
    </aggregation> -->
    <mop_output>
        <headers>
            <!-- a value of 0 excludes the column from the output -->
            <device_id>1</device_id>
            <device_name>2</device_name>
            <device_ip>0</device_ip>
            <object_name>3</object_name>
            <indicator_name>4</indicator_name>
            <indicator_type>0</indicator_type>
            <timestamp>5</timestamp>
            <value>6</value>
            <delta>0</delta>
            <epoch>0</epoch>
            <time_delta>0</time_delta>
            <!-- not implemented yet -->
            <!-- <plugin></plugin>
            <unit></unit> -->
        </headers>
        <!-- only single character allowed -->
        <delimiter>;</delimiter>
        <!-- mode can be synchronous or asynchronous
        synchronous mode means that we don't check the time because there's a
        controller script that runs DMOP after DM finished.
        asynchronous mode will check if DM should have finished by waiting some
        time after the requested period has changed. -->
        <mode>synchronous</mode>
        <!-- Frequency: you can specify time in days(d), hours(h), and
        minutes(m). You can't specify a value higher than 2 days and it must be
        multiple of 10 minutes and a divisor of 24 hours, like 10m, 20m, 30m,
        1h, 2h, 3h, 4h, 6h, 8h and 12h -->
        <frequency>1h</frequency>
        <!-- file name variables:
			%i -> server id // echo "SELECT value FROM local.settings WHERE setting='server_id'"|mysqldata
            %h -> hostname
            %c -> cluster name
            %s -> timespan start time
            %e -> timespan end time
            %p -> plugin (only used if single_file is set to false)
        -->
        <output_file_name>%i_%h_%c_%s_%e_%p.csv</output_file_name>
        <!-- please specify an absolute path -->
        <output_directory>/opt/dmop/output/ipsla</output_directory>
		<timeZone>ETC/GMT0</timeZone>


        <!-- only used for filename, if you use %c, please specify the cluster
        name here -->
        <cluster_name>MSFT_PROD</cluster_name>
        <peer_id>1</peer_id>
        <!-- if true, creates a single file instead of a file per plugin -->
        <single_file>false</single_file>
        <sort_keys>
            <!-- the number represents the order in which the columns will be
            used to sort every line in the output files -->
            <device_id>1</device_id>
			<device_name>2</device_name>
            <object_name>3</object_name>
            <indicator_name>4</indicator_name>
            <timestamp>5</timestamp>
            <device_ip>0</device_ip>
            <indicator_type>0</indicator_type>
            <value>6</value>
            <delta>0</delta>
            <epoch>0</epoch>
        </sort_keys>
    </mop_output>
    <uploading>
        <enabled>false</enabled>
        <protocol></protocol>
        <!-- only specify the key if it's not the default for the OS -->
        <key_file>tas34*ar403tupA</key_file> 
        <compress_files>true</compress_files>
        <remote_server>cy1imescrp01</remote_server>
        <remote_directory>cy1imescrp01/SEVONE/</remote_directory>
        <remote_user>sevoneftp</remote_user>
        <!-- number of times to retry before giving up -->
        <retries>6</retries>
        <!-- time in seconds to wait before retrying -->
        <wait>600</wait>
    </uploading>
    <emailing>
        <enabled>true</enabled>
        <!-- plase add the recipients in an single line separated by "," -->
        <recipients>bturng@sevone.com</recipients>
    </emailing>
</dmop>
